<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAY</title>
</head>
<body>
    <!-- img, name, price, city, description, autor  -->
    <section>
        <main>
            <div class="card">
                <div class="card-image">
                    <img src="#" alt="img">
                </div>
                <div class="card__title">
                    
                </div>
                <div class="card-price">

                </div>
                <div class="card-city">

                </div>
                <div class="card-autor">
                    
                </div>
            </div>
        </main>
</section>
</body>
</html>